body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calc-container {
  background-color: silver;
}

.header {
  background-color: silver;
  display: flex;
  justify-content: flex-end;
}

.p-tag {
  padding-right: 5px;
}

.calc-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.span {
  grid-column: span 2;
}

button {
  border: none;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

button:hover {
  background-color: rgb(240, 124, 8);
  color: #fff;
}

.color {
  background-color: rgb(240, 124, 8);
}

.color:hover {
  background-color: #fff;
  color: rgb(240, 124, 8);
}
