body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calc-container {
  background-color: silver;
  width: 40%;
}

@media screen and (min-width: 50em) {
  .calc-container {
    background-color: silver;
    width: 25%;
  }
}

.header {
  background-color: grey;
  display: flex;
  justify-content: flex-end;
}


.p-tag {
  padding-top: 10px;
  padding-right: 10px;
  font-size: 40px;
  background-color: grey;
  overflow: hidden;
  overflow-x: auto;
}

.calc-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.span {
  grid-column: span 2;
}

button {
  border: none;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.p-tag:hover {
  background-color: rgb(240, 124, 8);
}

button:hover {
  background-color: grey;
}

.color {
  background-color: rgb(240, 124, 8);
}

.color:hover {
  background-color: #fff;
  color: rgb(240, 124, 8);
}
